
body {

  margin: 0;

  font-family: Georgia, 'Times New Roman', Times, serif;

  background: #f5f5f5;

}

header {

  background: #e3315e;

  color: white;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 10px 20px;

}

.logo {

  font-size: 20px;

  font-weight: bold;

}

.top-nav a {

  color: white;

  text-decoration: wavy;

  margin-left: 20px;

  transition: background 0.3s;

}
.top-nav a:hover{

  background: #3998d7;
}

.container {

  display: flex;

}

.sidebar {

  width: 200px;

  background: #3998d7;

  min-height: calc(100vh - 50px);/*vh=view-height */

  padding-top: 20px;

  display: flex;

  flex-direction: column;

}

.sidebar a {

  color: white;

  margin: 10px;

  padding: 15px;

  text-decoration: none;

  font-weight: bold;


  transition: background 0.3s;

}

.sidebar a:hover {

  background: lightcoral;

}

.content {

  flex-grow: 1;

  padding: 30px;

 

}

.cards {

  display: flex;

  flex-wrap: wrap;

  gap: 30px;

}

.card {

  background: white;

  border-radius: 50px;

  box-shadow: 5px 5px 10px grey;

  padding: 15px;

  width: 250px;

  text-align: center;

  color: #6339d7;

}
.card:hover{

  background:blanchedalmond;

}

.card img {

  width: 100%;

  border-radius: 10px;

}

footer {

  text-align: center;

  background: #e3315e;

  color: white;

  padding: 10px 0;

}


